<!--
  Progetto basi di dati 2020 - Tema Cinema
  Gruppo: ArceCity
  Membri: Casarotti Giulio, Ferrari Simone, Trolese Gulio

  pagina per visualizzare altre date per un determinato film
-->
{% extends "main_template.html" %}

{% block pagebody %}
<style>
  h2 {
    margin-bottom: 0.3em;
  }
  h3 {
    display: block;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    margin-left: 1em;
  }
  h4 {
    display: block;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 1.2em;
  }
  p {
    display: block;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 1.2em;
  }
  label {
    display: block;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 1.2em;
  }
</style>

  <input style="margin-left: 1.4em;" type="button" onclick="location.href='/tutti_i_film';" value="Vedi tutti i film" />
  <input style="margin-left: 1.4em;" type="button" onclick="location.href='/le_mie_prenotazioni';" value="Le mie prenotazioni" />
  <input style="margin-left: 1.4em;" type="button" onclick="location.href='/dashboard_account';" value="Il mio account" />

  <h2>Tutte le proiezioni programmate</h2>

  <script>
      function selezionaPr(){
        let select = document.getElementById("proiezioni");
      	let currently_selected = select.options[select.selectedIndex].value;
        let bottone = document.getElementById("invio");
        bottone.setAttribute("onClick", "location.href = '/prenota_biglietto/" + currently_selected + "'")
      }

      function alertError(messaggio){
        alert(messaggio);
      }
  </script>

    <div style="float:left">
      <img src="{{ url_for('static', filename='copertine/') }}{{ dict_film[0]['id_film'] }}.jpg" height="200" width="150" alt="copertina di {{ dict_film[0]['titolo'] }}">
    </div>
    <div style="float:left">
      <h3 id="titolo">{{ dict_film[0]["titolo"] }}</h3>
      <h4 id="durata">{{ dict_film[0]["durata"] }} minuti</h4>
      <p id="descrizione">{{ dict_film[0]["descrizione"] }}</p>

      <label for="prenotazioni">Date programmate:
        <select id="proiezioni" onchange='selezionaPr()'>
          <option value="" selected disabled hidden>Scegli qui</option>
          {% for dict in dict_film %}
          <option value="{{ dict['id_proiezione'] }}"> {{ dict["data"] }} {{ dict["ora_inizio"] }} sala {{ dict["sala"] }}</option>
          {% endfor %}
        </select>
      </label>

      <input style="margin-left: 1.4em;" type="button" onclick="alertError('Attenzione, selezionare una proiezione prima di procedere')" id="invio" value="Acquista" /> <br>
    </div>
    <div style="clear:both"/>


{% endblock %}
