{% extends "main_template.html" %}

{% block pagebody %}
  <style>
    h2 {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>

  {% if errore %}
    <script>
    function alertError(messaggio) {
      alert(messaggio);
    }
    alertError({{error_message|tojson}})
    </script>
  {% endif %}

  <form method = "POST"  autocomplete = "on" enctype = ”text/plain”>

    <h2>Cambio password</h2>


    <label for = "old_psw">Vecchia password:</label>
    <input id = "old_psw" name = "old_psw" type = "password"  title = "Utilizzare esclusivamente caratteri ASCII, come a-z, A-Z, 0-9, e caratteri di punteggiatura, come '!' e '%'"><br>
    <br>
    <label for = "old_psw">Nuova password:</label>
    <input id = "psw" name = "psw" type = "password"  title = "Utilizzare esclusivamente caratteri ASCII, come a-z, A-Z, 0-9, e caratteri di punteggiatura, come '!' e '%'"><br>

    <label for = "conferma_password">Conferma nuova password:</label>
    <input id = "conferma_password" name = "conferma_password" type = "password"><br>

    <button type = "submit" name = "Submit" value = "Registrati">Conferma cambiamento
    <button type = "reset" value = "Reset">Reset

  </form>

{% endblock %}
