<!--
Progetto basi di dati 2020 - Tema Cinema
Gruppo: ArceCity
Membri: Casarotti Giulio, Ferrari Simone, Trolese Gulio

pagina per la visualizzazione della dashboard con informazioni su saldo e possibilità di ricaricare il saldo e cambiare l'email
 -->
{% extends "main_template.html" %}

{% block pagebody %}
  <style>
    h2 {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    h3 {
      display: block;
      margin-top: 0em;
      margin-bottom: 0.5em;
    }
  </style>



  <h2>{{ nome }} {{cognome}}</h2>
  <h3>{{ email }}</h3>

  <h3>Saldo: €{{ saldo }}
    <button type = "button" onclick="location.href='/ricarica_saldo';" value = "ricarica_saldo">Ricarica Saldo</button>
  </h3>

  <br><br>

  <button type = "button" onclick="location.href='/cambia_password';" value = "modifica_psw">Modifica password</button>

{% endblock %}
