{% extends "main_template.html" %}

{% block pagebody %}
  <style>
    h2 {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  </style>

<form action = "/ricarica_saldo" method="POST">
  <h2>Saldo attuale: €{{ saldo }}<h2>
  <label for = "taglio">Scegli il taglio da ricaricare</label>
  <select name = "taglio" id = "taglio">
    <option value = "5">5</option>
    <option value = "10">10</option>
    <option value = "20">20</option>
    <option value = "40">40</option>
    <option value = "tua_madre">Tua madre sporca dura</option>
    <option value = "50">50</option>
  </select>
  <input type = "submit" value = "Aggiungi">
</form>

{% endblock %}
