<!--
Progetto basi di dati 2020 - Tema Cinema
Gruppo: ArceCity
Membri: Casarotti Giulio, Ferrari Simone, Trolese Gulio

pagina per la visualizzazione di tutti i film che hanno almeno una proiezione valida
 -->
{% extends "main_template.html" %}

{% block pagebody %}

  <style>
    h2 {
      margin-bottom: 0.3em;
    }
    h3 {
      display: block;
      margin-top: 0.7em;
      margin-bottom: 0.5em;
      margin-left: 1em;
    }
    h4 {
      display: block;
      margin-top: 0em;
      margin-bottom: 0.5em;
      margin-left: 1.2em;
    }
    p {
      display: block;
      margin-top: 0em;
      margin-bottom: 1em;
      margin-left: 1.2em;
    }
  </style>

  <input style="margin-left: 1.4em;" type="button" onclick="location.href='/tutti_i_film';" value="Vedi tutti i film" />
  <input style="margin-left: 1.4em;" type="button" onclick="location.href='/le_mie_prenotazioni';" value="Le mie prenotazioni" />
  <input style="margin-left: 1.4em;" type="button" onclick="location.href='/dashboard_account';" value="Il mio account" />

  <form action="" method="post">
    <h3 style="margin-left: 0em; margin-top: 2em;"><label for="cerca_genere">Cerca per genere:</label>
    <input type="search" id="cerca_genere" name="cerca_genere"></h3>
  </form>
  <h2>Lista di tutti i film disponibili nel nostro cinema!</h2>
  {% for dict in proj_list %}
    <div style="float:left">
      <img src="static/copertine/{{ dict['id_film'] }}.jpg" height="200" width="150" alt="copertina di {{ dict['titolo'] }}">
    </div>
    <div style="float:left">
      <h3 id="titolo">{{ dict["titolo"] }}</h3>
      <h4 id="durata">{{ dict["durata"] }} minuti</h4>
      <p id="descrizione">{{ dict["descrizione"] }}</p>
      <h3 style="margin-top: 1em;" id="prossimaproiezione">Prossima proiezione: &nbsp; {{ dict["data"] }} &nbsp;&nbsp; {{ dict["ora_inizio"] }} &nbsp;&nbsp; Sala: {{ dict["sala"] }}</h3>
      <input style="margin-left: 1.4em;" type="button" onclick="location.href='/prenota_biglietto/{{ dict['id_proiezione'] }}';" value="Acquista" /> <br>
      <input style="margin-top: 0.5em; margin-left: 1.4em;" type="button" onclick="location.href='/altre_date_film/{{ dict['id_film'] }}';" value="Altre date per questo film" />
    </div>
    <div style="clear:both"/>
  {% endfor %}

{% endblock %}
