{% extends "main_template.html" %}

{% block pagebody %}

  <form method = "post"  autocomplete = "on" enctype = ”text/plain”>

    <label for = "nome">Nome:</label>
    <input id = "nome" name = "nome" type = "text" autofocus><br>

    <label for = "cognome">Cognome:</label>
    <input id = "cognome" name = "cognome" type = "text"><br>

    <button type = "submit" name = "Submit" value = "Film">Invia e vai al film
    <button type = "submit" name = "Submit" value = "Persone">Invia e aggiungi un'altra persona
    <button type = "reset" value = "Reset">Reset

  </form>

{% endblock %}
