<!--
	Progetto basi di dati 2020 - Tema Cinema
	Gruppo: ArceCity
	Membri: Casarotti Giulio, Ferrari Simone, Trolese Gulio

	pagina per aggiungere un film
 -->
{% extends "main_template.html" %}

{% block pagebody %}

	  <script src="{{url_for('static', filename='aggiungi_film.js')}}"></script>
		{% if errore %}
			<script>
			function alertError(messaggio) {
				alert(messaggio);
			}
			alertError({{error_message|tojson}})
			</script>
		{% endif %}
    <form method = "post"  autocomplete = "on"  enctype = "multipart/form-data">

      <label for = "titolo">Titolo:</label>
      <input id = "titolo" name = "titolo" type = "text" autofocus required><br>

      <label for = "durata">Durata:</label>
      <input id = "durata" name = "durata" type = "number" required><br>

      <label for="descrizion">Descrizione:</label>
      <textarea name="descrizione" id="descrizione" cols="30" rows="10" required></textarea><br>

      <label for="copertina">Copertina:</label>
      <input type="file" id="copertina" name="copertina" accept="image/*"><br>

      <span id="attori" name="attori"></span>

      <button type="button" name="button" onclick='addPeople({{ persone_dict|safe }}, "attori")'>Aggiungi attore</button><br>

      <span id="registi" name="registi"></span>

      <button type="button" name="button" onclick='addPeople({{ persone_dict|safe }}, "registi")'>Aggiungi regista</button><br>

			<span id="generi" name="generi"></span>

      <button type="button" name="button" onclick='addGenre({{ generi_dict|safe }}, "generi")'>Aggiungi genere</button><br>


      <button type = "submit" name = "Submit" value = "Invia">Invia
      <button type = "reset" value = "Reset">Reset

    </form>

{% endblock %}
