{% extends "main_template.html" %}

{% block pagebody %}

  <h2>Gestione film:
    <input type="button" onclick="location.href='/aggiungi_film';" value="Aggiungi un film" />
    <input type="button" onclick="location.href='/rimuovi_film';" value="Rimuovi un film" />
  </h2>

  <h2>Gestione proiezioni:
    <input type="button" onclick="location.href='/aggiungi_proiezione';" value="Aggiungi una proiezione" />
    <input type="button" onclick="location.href='/rimuovi_proiezione';" value="Rimuovi una proiezione" />
  </h2>

  <h2>Aggiunta persone (attori e registi):
    <input type="button" onclick="location.href='/aggiungi_persona';" value="Aggiungi persone" />
  </h2>

  <h2>Aggiunta generi
    <input type="button" onclick="location.href='/aggiungi_genere';" value="Aggiungi generi" />
  </h2>

  <h2>Riepilogo sale
    <input type="button" onclick="location.href='/riepilogo_sale';" value="Vedi riepilogo sale" />
  </h2>

  <h2>Aggiunta di un nuovo amministratore
    <input type="button" onclick="location.href='/aggiungi_admin';" value="Aggiungi amministratore" />
  </h2>

  <h2>Ottieni statistiche
    <input type="button" onclick="location.href='/statistiche';" value="Statistiche sito" />
  </h2>

{% endblock %}
