<!--
	Progetto basi di dati 2020 - Tema Cinema
	Gruppo: ArceCity
	Membri: Casarotti Giulio, Ferrari Simone, Trolese Gulio

	pagina per la visualizzazione delle sale con la possibilità di aggiungere una nuova sala
 -->
{% extends "main_template.html" %}

{% block pagebody %}

  <h2>Sale disponibili:</h2>
  {% for n_sala in sale %}
    <p id="sala">Sala {{ n_sala }}</p>
  {% endfor %}
  <form method="post">
    <button type = "submit" name = "aggiungi_sala">Aggiungi sala
  </form>


{% endblock %}
