{% extends "main_template.html" %}

{% block pagebody %}

  <h2>Aggiunta film</h2>
  <input type="button" onclick="location.href='/aggiungi_film';" value="Aggiungi un film" />
  <h2>Aggiunta proiezioni</h2>
  <input type="button" onclick="location.href='/aggiungi_proiezione';" value="Aggiungi delle proiezioni" />

  <h2>Aggiunta persone - attori e registi</h2>
  <input type="button" onclick="location.href='/aggiungi_persona';" value="Aggiungi persone" />

  <h2>Aggiunta generi</h2>
  <input type="button" onclick="location.href='/aggiungi_genere';" value="Aggiungi generi" />

  <h2>Riepilogo sale</h2>
  <input type="button" onclick="location.href='/riepilogo_sale';" value="Vedi riepilogo sale" />

  <h2>Aggiunta di un nuovo amministratore</h2>
  <input type="button" onclick="location.href='/aggiungi_admin';" value="Aggiungi amministratore" />

  <h2>Ottieni statistiche</h2>

{% endblock %}
