<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Guarda il tuo film preferito e stai al sicuro con ArceCity: scopri le ultime uscite, gli orari delle proiezioni e pronota il tuo biglietto online."
		/>
		<meta name="robots" content="noindex, nofollow" />
		<title>ArceCity</title>
		<link rel="icon" href="static/immagini/Logo.svg" />
	</head>
	<body>
		<nav>
			<div>
				<div style="float:left; margin-top: 0em;">
				  <a onclick="location.href='/';"><img src="static/immagini/Logo.png" height="100" width="413"></a>
				</div>
				<div style="float:right; margin-top: 1em;">
					<h3>
						<a href="/login">Login</a>
						<a style="margin-left: 10px;" href="/logout">Logout</a>
					  <img style="margin-left: 10px;" align="middle" src="static/immagini/user.svg" height="50" width="50">
				  </h3>
				</div>
				<div style="clear:both"/>
			</div>
		</nav>
		{% block pagebody %} {% endblock %}
	</body>
</html>
