<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Guarda il tuo film preferito e stai al sicuro con ArceCity: scopri le ultime uscite, gli orari delle proiezioni e pronota il tuo biglietto online."
		/>
		<meta name="robots" content="noindex, nofollow" />
		<title>ArceCity</title>
		<link rel="icon" href="static/immagini/Logo.svg" />
	</head>
	<body>
		<nav>
			<img src="static/immagini/Logo.svg" height="60" width="60"> ArceCity Cinema
			<img src="static/immagini/user.svg" height="40" width="40"><a href="/login">Accedi</a>
		</nav>
		{% block pagebody %} {% endblock %}
	</body>
</html>
